
body 
{ 
    margin: 0;  
    padding: 0;  
    height: auto;
    max-width: 100%;
    font-family: monospace;
    background: url(60286.jpg);/* adds to the background*/
    background-repeat: repeat;
    background-size: cover;
    height:100%
    
    

 
  
    
  /*  background: url(Background5.jpeg);/* adds to the background
    background-repeat: repeat;
    background-size: cover; */
  
  }
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 242, 242);
    width: 100%;
    
    border-bottom: 3px solid;
    border-color: #FFC047;
  
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 200px;
    text-decoration: none;
    font-size: 30px;
    width: 90%;
    border-bottom: 7px solid;
    border-color: #FFC047;
  }
  
  ul.topnav li a:hover:not(.active) {color: #FFC047;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
   
   
  }


.bio
{
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top:175px;
  background-color: rgb(243, 242, 242);
  border: 7px solid;
  border-color: #FFC047;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  
}

.contact :hover
{
  background-color: rgb(243, 242, 242);
}
.about
{
  display: flex;
  flex-direction: column;
  
  font-size: 40px;
  width: 100%;
  color: black;
}
#name,#biography
{
  padding-left: 25px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  padding-bottom: 15px;
}
#biowords
{
  color: rgb(0, 0, 0);
  font-size: 23px;
  padding-left: 25px;
 
}
.skills
{
  display: flex;
  justify-content: space-evenly; 
  background-color: rgb(243, 242, 242);
  margin-top:75px;
  border: 7px solid;
  border-color: #FFC047;
  border-radius: 25px;
  margin-left: 25%;
  margin-right: 25%;
  color: rgb(0, 0, 0);
  width: 50%;
  
}

#table1,#table2
{
  font-size: 23px;
  text-align: center;
  width: 200px;

  
}

.contact
{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 40px;
  width: 60%;
  color: black;
  margin-left: 20%;
  margin-right: 30%;
  background-color: rgb(243, 242, 242);
  border: 7px solid;
  border-color: #FFC047;
  border-radius: 25px;
}
#info
{
font-size: 25px;
}

.frame
{
background-color: blue;
}

img
{
  border-top-left-radius: 18px;
  border-bottom-left-radius: 22px;

}