
body 
{ 
    margin: 20;  
    padding: 0;  
    height: auto;
    max-width: 100%;
    font-family: monospace;
    background: url(bg.jpg);/* adds to the background*/
    background-repeat: repeat;
    background-size:auto;
    height:100%
    
    

 
  
    
  /*  background: url(Background5.jpeg);/* adds to the background
    background-repeat: repeat;
    background-size: cover; */
  
  }
  
  ul.topnav {
    list-style-type: none;
    border-bottom: 7px solid;
    border-color: #FFC047;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141414;
    width: 100%;
    color: #FFC047
   
  
  }
  
  ul.topnav li {float: left}
  
  ul.topnav li a {
    display: block;
    color: #FFC047;
    text-align: center;
    padding: 50px 170px;
  
    text-decoration: none;
    font-size: 30px;
    max-width: fit-content;
   
  }
  
  ul.topnav li a:hover:not(.active) {color: #ffffff;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  

 


.bio
{
  display: flex;
  justify-content: space-between;
  color: #FFC047;
  margin-top:70px;
  background-color: #141414;
  border: 7px solid;
  border-color: #FFC047;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  
}

.contact :hover
{
  background-color: rgb(243, 242, 242);
}
.about
{
  display: flex;
  flex-direction: column;
  
  font-size: 40px;
  width: 100%;
  color: #FFC047;
}
#name,#biography
{
  padding-left: 25px;
  color: #FFC047;
  text-decoration: underline;
  padding-bottom: 15px;
}
#biowords
{
  color: #FFC047;
  font-size: 23px;
  padding-left: 25px;
 
}
.skills
{
  display: flex;
  justify-content: space-evenly; 
  background-color: #141414;
  margin-top:75px;
  border: 7px solid;
  border-color: #FFC047;
  border-radius: 25px;
  margin-left: 25%;
  margin-right: 25%;
  color: #FFC047;
  width: 50%;
  
}

#table1,#table2
{
  font-size: 23px;
  text-align: center;
  width: 200px;

  
}

.contact
{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 40px;
  width: 60%;
  color: black;
  margin-left: 20%;
  margin-right: 30%;
  background-color: #141414;
  border: 7px solid;
  border-color: #FFC047;
  border-radius: 25px;
  padding-bottom: 20px;
}
#info
{
font-size: 25px;
}

.frame
{
display: flex;
justify-content: center;
margin-top: 50px;
}

img
{
  border-top-left-radius: 18px;
  border-bottom-left-radius: 22px;

}

a
{
 color: #f50d0d;
 text-decoration:double
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    
 }

/* (A) CONTAINER */
#grid-gap {


  /* (A1) GRID LAYOUT */
  display:grid;
 
  /* (A2) SPECIFY COLUMNS */
  grid-template-columns:repeat(auto-fill, minmax(650px, 1fr));

  /* (A3) SET SPACING BETWEEN CELLS 
  grid-gap: 30px;
 */
  /* (A4) TO SET SPECIFIC ROW-COL SPACING */
  grid-column-gap: 30px;
  grid-row-gap: 10px; 

}

/* (B) GRID CELLS */
.cell1 , .cell2, .cell3, .cell4,.cell5 {
 
 
  
  padding: 10px;
color:  #FFC047;
  margin-top: 100px;
  overflow: hidden;

  
}
.heading
{
  background-color: #141414;
  border-bottom: 7px solid;
  border-color: #FFC047;
}
#dir
{
  display: flex;
  justify-content:center;
  font-size: 40px;
  color: #FFC047;
}

h2:hover { color: rgb(255, 255, 255) }

